<config>
	<!-- 
	<Execution>
		<Start>1</Start>
		<Stop>-1</Stop>
	</Execution>
	 -->
	<ENV>
		<Browser>IE</Browser>
		<URL>http://www.google.ca</URL>
		<PageTimeoutInMinutes>5</PageTimeoutInMinutes>
		<ElementTimeoutInSeconds>30</ElementTimeoutInSeconds>
		<PollIntervalInMilliSeconds>1000</PollIntervalInMilliSeconds>
		<MaxTimeoutInMinutes>5</MaxTimeoutInMinutes>
		<MultiplierTimeout>4</MultiplierTimeout>
		<AJAX_Retries>5</AJAX_Retries>
		<AJAX_Stable>3000</AJAX_Stable>
		<DriverPath>C:\_Libraries\IEDriverServer.exe</DriverPath>
		<BrowserProfile>BP</BrowserProfile>
		<TEMP_FILE>~temp.xml</TEMP_FILE>
	</ENV>
	<DB>
		<Server>1</Server>
		<Database>2</Database>
		<User>3</User>
		<!-- <Password>4</Password> -->
		<Password>Yv5Vth61nQKeJqvZXg0f0170Jcc4terW3zv4RcgAr6kZKxVdrT3b1g==</Password>
		<EncodedPassword>true</EncodedPassword>
		<Port>1433</Port>
	</DB>
	<!-- 
	<Grid>
		<HubURL>6</HubURL>
		<Platform>7</Platform>
		<Version>8</Version>
		<ApplicationName>something</ApplicationName>
	</Grid>
	 -->
	<!-- 
	<External>
		<SQL>/test/SQL/</SQL>
		<JS>/test/JS/</JS>
	</External>
	 -->
	<Screenshots>
		<Enabled>false</Enabled>
		<Folder>{DATE}\screenshots</Folder>
		<Prefix>error</Prefix>
	</Screenshots>
	<AdditionalContexts>
		<!-- 
		<Context>
			<Key>context.2</Key>
			<ENV>
				<Browser>FF</Browser>
				<URL>http://www.tsn.ca</URL>
			</ENV>
		</Context>
		 -->
		<Context>
			<Key>context.2</Key>
			<ENV>
				<Browser>C</Browser>
				<URL>100</URL>
				<PageTimeoutInMinutes>101</PageTimeoutInMinutes>
				<ElementTimeoutInSeconds>102</ElementTimeoutInSeconds>
				<PollIntervalInMilliSeconds>103</PollIntervalInMilliSeconds>
				<MaxTimeoutInMinutes>104</MaxTimeoutInMinutes>
				<MultiplierTimeout>105</MultiplierTimeout>
				<AJAX_Retries>106</AJAX_Retries>
				<AJAX_Stable>107</AJAX_Stable>
				<DriverPath>C:\_Libraries\ChromeDriverServer.exe</DriverPath>
				<BrowserProfile>119</BrowserProfile>
			</ENV>
			<DB>
				<Server>108</Server>
				<Database>109</Database>
				<User>110</User>
				<Password>Z3UEs4YsKrx5yz2MrT6DGb98XuXxEF2h1rkH6esp8jTWIW4LDkB1iA==</Password>
				<EncodedPassword>true</EncodedPassword>
				<Port>113</Port>
			</DB>
			<Grid>
				<HubURL>114</HubURL>
				<Platform>115</Platform>
				<Version>116</Version>
			</Grid>
			<Screenshots>
				<Enabled>true</Enabled>
				<Folder>117</Folder>
				<Prefix>118</Prefix>
			</Screenshots>
		</Context>
		
	</AdditionalContexts>
	<DataDrivenValues>
		<BasePath>resources\data\</BasePath>
		<PasswordLookup>Passwords.xml</PasswordLookup>
		
		<!-- Put locations to the XML test data files here -->
		<Login>data_Login.xml</Login>
		<Research>data_Research.xml</Research>
		<ExecutionControl>data_ExecutionControl.xml</ExecutionControl>
	</DataDrivenValues>
	<Notification>
		<SendEmail>0</SendEmail>
		<SendEmailsAfterTestSuite>1</SendEmailsAfterTestSuite>
		<SMTP_Server></SMTP_Server>
		<From_EmailAddress></From_EmailAddress>
		<Recipients></Recipients>
		<Subject>Test Results for {DATE}</Subject>
		<Message>See {REPORT_FILE} in the project folder for testNG detailed summary.&#xA;&#xD;See {LOG_FILE} for details of execution.</Message>
	</Notification>
	<Translations>resources\data\translations.xml</Translations>
</config>